<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="100"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Nom"/></h1>
            <h2 class="livret"><input name="data.livret" type="text" value="{{data.livret}}" placeholder="Livret de personnage"/></h2>
            {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
            use both the "grid" and "grid-Ncol" class where "N" can be any number
            from 1 to 12 and will create that number of columns.  --}}
            <div class="resources flexrow grid grid-2col">
              {{!-- "flex-group-center" is also defined in the _grid.scss file
              and it will add a small amount of padding, a border, and will
              center all of its child elements content and text. --}}
              <div class="resource flex-group-center">
                  <label for="data.pv.value" class="resource-label">Santé</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="data.pv.value" value="{{data.pv.value}}" data-dtype="Number"/>
                    <span> / </span>
                    <input type="text" name="data.pv.max" value="{{data.pv.max}}" data-dtype="Number"/>
                  </div>
                </div>
              <div class="resource flex-group-center">
                  <label for="data.bile.value" class="resource-label">Bile</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="data.bile.value" value="{{data.bile.value}}" data-dtype="Number"/>
                  </div>
                  <div>
                    <p><span class="gain-bile" data-gain=1>1</span> <span class="gain-bile" data-gain=2>2</span> <span class="gain-bile" data-gain=3>3</span></p>
                  </div>
                </div>
          </div>
          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  --}}
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Biographie</a>
        <a class="item" data-tab="manoeuvre">Manoeuvre</a>        
        <a class="item" data-tab="items">Inventaire</a>
        <!-- <a class="item" data-tab="features">Features</a>
        <a class="item" data-tab="spells">Spells</a> -->
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
          <p><label for="data.biography.age" class="">Âge</label>
              <input type="text" name="data.age" value="{{data.age}}" data-dtype="Number"/> </p>
            <p><label for="data.bande">Bande</label>
              <input type="text" name="data.bande" value="{{data.bande}}" /></p>
              <div class="resource grid grid-4col">
                {{#each data.xp as |xps key|}}
                  <div class="resource flexrow flex-group-center">
                    <label for="data.xp.{{key}}.value" class="resource-label">{{key}}</label>
                    <input type="text" name="data.xp.{{key}}.value" value="{{xps.value}}" data-dtype="Number"/>
                    <span> / </span>
                    <input type="text" name="data.xp.{{key}}.max" value="{{xps.max}}" data-dtype="Number"/>
                  </div>
                {{/each}}
                {{#each data.pourriture as |pourr key|}}
                  <div class="resource flexrow flex-group-center">
                    <label for="data.pourriture.{{key}}.value" class="resource-label">{{key}}</label>
                    <input type="text" name="data.pourriture.{{key}}.value" value="{{pourr.value}}" data-dtype="Number"/>
                    <span> / </span>
                    <input type="text" name="data.pourriture.{{key}}.max" value="{{pourr.max}}" data-dtype="Number"/>
                  </div>
                {{/each}}
              </div>
          <div class="tab">
            <p>Description</p>
            {{editor content=data.description.biography target="data.description.biography" button=true owner=owner editable=editable}}
          </div>  
        </div>

        {{!-- Onglet Manoeuvre --}}
        <div class="tab manoeuvre" data-group="primary" data-tab="manoeuvre">
          <ol class="items-list">
            <li class="item flexrow item-header">
              <div class="item-image"></div>
              <div class="item-name">Nom</div>
              <div class="item-jetDe">Mise de bile</div>
              <div class="item-controls">
                <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add item</a>
              </div>
            </li>
        {{#each actor.manoeuvre as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
              <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
              <h4 class="item-name">{{item.name}}</h4>
              <div>
                <span  class="jetDe" data-mise=0> O </span>/<span  class="jetDe" data-mise=1> 1 </span>/<span  class="jetDe" data-mise=2> 2 </span>/<span  class="jetDe" data-mise=3> 3 </span>
              </div>
              <div class="item-controls">  
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
        {{/each}}
        </ol>
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <ol class="items-list">
                <li class="item flexrow item-header">
                  <div class="item-image"></div>
                  <div class="item-name">Nom</div>
                  <div class="item-controls">
                    <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add item</a>
                  </div>
                </li>
            {{#each actor.gear as |item id|}}
                <li class="item flexrow" data-item-id="{{manoeuvre._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                    <h4 class="manoeuvre-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
        </div>

        {{!-- Owned Features Tab --}}
        <div class="tab features" data-group="primary" data-tab="features">
            <ol class="items-list">
                <li class="item flexrow item-header">
                  <div class="item-image"></div>
                  <div class="item-name">Name</div>
                  <div class="item-controls">
                    <a class="item-control item-create" title="Create item" data-type="feature"><i class="fas fa-plus"></i> Add item</a>
                  </div>
                </li>
            {{#each actor.features as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
        </div>

        {{!-- Owned Spells Tab --}}
        <div class="tab spells" data-group="primary" data-tab="spells">
            <ol class="items-list">
                <li class="item flexrow item-header">
                  <div class="item-image"></div>
                  <div class="item-name">Name</div>
                  <div class="item-controls"></div>
                </li>
                {{#each actor.spells as |spells spellLevel|}}
                    <li class="item flexrow item-header">
                      <div class="item-name">Level {{spellLevel}} Spells</div>
                      <div class="item-controls">
                        <a class="item-control item-create" title="Create item" data-type="spell" data-spell-level="{{spellLevel}}"><i class="fas fa-plus"></i> Add LVL {{spellLevel}}</a>
                      </div>
                    </li>
                    {{#each spells as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                            <h4 class="item-name">{{item.name}}</h4>
                            <div class="item-controls">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                    {{/each}}
                {{/each}}
            </ol>
        </div>

    </section>
</form>

